section
{
    height:400px;
    width:500px;
    border:2px solid blue;
    background-color: dimgray;
    /* display: none; */
    /* visibility: hidden; */
}
/* px % vw vh*/
div
{
    border:3px solid red;
    background-color: brown;
    height:20%;
    width:20vw;
}
div
{
  height:50vh;
}

section
{
    /* width: 80%;
    height:80vh; */
}
